<launch> 
    <!-- <arg name="plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/> -->
    <arg name="randup_time" default="false"/>
    <!-- <arg name="environment" default="SO2_single_obstacle"/> -->
    <!-- <arg name="environment" default="unicycle_environment_0"/> -->
    <!-- <arg name="environment" default="unicycle_environment_0"/> -->
    <arg name="environment" default="empty"/>
    <arg name="plant_file" default="$(find motion_planning)/config/SO2_system.yaml"/>
    <!-- <arg name="plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/unicycle_system.yaml"/> -->
    <arg name="algorithm" default="randup"/>
    <!-- <arg name="plant" value="unicycle"/> -->
    <arg name="plant" value="SO2System"/>
    
    <!-- <arg name="output_directory" default="/tmp/"/> -->
<arg name="output_directory" default="$(env ML4KP_ROS)/data/reachability/pendulum/gt/center/"/>

    <arg name="file_prefix" default="low"/>
    <arg name="repetitions" default="1"/>
    <arg name="random_seed" default="112392"/>

    <param name="simulation_step" value="0.01"/>
    <param name="random_seed" value="$(arg random_seed)"/>
    <param name="plant_parameters" textfile="$(arg plant_file)"/>
    <param name="environment" textfile="$(find prx_models)/models/environments/$(arg environment).yaml" />


    <arg name="dbg" value="lldb --"/>

    <arg name="state_topic" default="/mushr/state"/>

          <!-- launch-prefix="$(arg dbg)" -->
    <node pkg="motion_planning" name="safety_checker" type="safety_checker" 
launch-prefix="gdb -ex run --args"
          output="screen" respawn="false">     
      <param name="randup_time" value="$(arg randup_time)"/>
      <param name="state_topic" value="$(arg state_topic)"/>
      <param name="algorithm" value="$(arg algorithm)"/>
      <param name="total_threads" value="1"/>
      <param name="cell_size" value="0.1"/>
      <param name="short_circuit" value="false"/>
      <!-- <param name="plant" value="mushrPolynomial"/> -->
      <param name="plant" value="$(arg plant)"/>
      <param name="convex_hulls_step" value="10"/>
      <param name="mg_step" value="1"/>
      <!-- <param name="split_time" value="0.05"/> -->
      <param name="split_time" value="0.2"/>
      <param name="output_directory" value="$(arg output_directory)"/>
      <param name="file_prefix" value="$(arg file_prefix)"/>
      <param name="repetitions" value="$(arg repetitions)"/>
      <param name="Chi2_confidence" value="5.991"/> <!-- 0.95 @ 2 dof -->
    </node>

    <node pkg="nodelet" type="nodelet" name="SpacepointToMarkerPublisher"
      args="standalone interface/SpacepointToMarkerPublisher " output="screen">
      <param name="world_frame" value="world"/>
      <param name="spacepoint_topic_name" value="$(arg state_topic)"/>
      <param name="color" type="yaml" value="[0.8, 0.0, .78, 1.0]"/>
    </node>


    <node pkg="nodelet" type="nodelet" name="analytical_sim_aux_nodelet"  args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="EnvironmentPublisher" 
        args="load utils/EnvironmentPublisher analytical_sim_aux_nodelet" 
        output="screen">
    </node>  
</launch>
