<launch> 
    <!-- <arg name="plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/> -->
    <arg name="randup_time" default="false"/>
    <arg name="environment" default="SO2_single_obstacle"/>
    <arg name="plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/SO2_system.yaml"/>

    <param name="simulation_step" value="0.1"/>
    <param name="plant_parameters" textfile="$(arg plant_file)"/>
    <param name="environment" textfile="$(find prx_models)/models/environments/$(arg environment).yaml" />

    <arg name="dbg" value="lldb --"/>

    <arg name="state_topic" default="/mushr/state"/>

          <!-- launch-prefix="$(arg dbg)" -->
    <node pkg="motion_planning" name="safety_checker" type="safety_checker" 
          output="screen" respawn="false">     
      <param name="randup_time" value="$(arg randup_time)"/>
      <param name="state_topic" value="$(arg state_topic)"/>
      <param name="total_threads" value="8"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="SpacepointToMarkerPublisher"
      args="standalone interface/SpacepointToMarkerPublisher " output="screen">
      <param name="world_frame" value="world"/>
      <param name="spacepoint_topic_name" value="$(arg state_topic)"/>
      <param name="color" type="yaml" value="[0.8, 0.0, .78, 1.0]"/>
    </node>


    <node pkg="nodelet" type="nodelet" name="analytical_sim_aux_nodelet"  args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="EnvironmentPublisher" 
        args="load utils/EnvironmentPublisher analytical_sim_aux_nodelet" 
        output="screen">
    </node>  
</launch>