<launch>
    <arg name="camera_config" default="$(find perception)/config/logitech_brio.yaml"/>
    
    <node pkg="nodelet" type="nodelet" name="physical_camera_nodelet"  args="manager" output="screen"/>
    <node pkg="nodelet" type="nodelet" name="physical_camera_nodelet_t" output="screen"
        args="load perception/physical_camera_nodelet_t physical_camera_nodelet">
        <rosparam command="load" file="$(arg camera_config)" />
    </node>     
</launch>
