<launch>
    <arg name="camera_config" default="$(find perception)/config/logitech_brio_73B6FC82.yaml"/>

    <node pkg="nodelet" type="nodelet" name="physical_camera_nodelet_t" output="screen"
      args="standalone perception/physical_camera_nodelet_t" >
      <rosparam command="load" file="$(arg camera_config)" />
    </node>    


</launch>
