<launch>
  <arg name="plan_topic_name" default="/mushr/plan" />

  <node pkg="nodelet" type="nodelet" name="standalone_nodelet" 
  			args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="plan_from_file_t" 
  		  args="load ml4kp_bridge/plan_from_file_t standalone_nodelet" 
  		  output="screen">
    <param name="publisher_topic" value="$(arg plan_topic_name)" />
    <param name="plan_file" value="$(env ML4KP_ROS)/plan0.txt" />

  </node>
  
</launch>