<launch>
    <param name="model_path" type="string" value="$(find mj_models)/models/mushr.xml"/>
    <param name="save_trajectory" type="bool" value="false"/>
    <arg name="visualize" default="true"/>
    <group ns="mushr">
        <node pkg="mujoco_ros" name="control_listener" type="mushr_control_listener" output="screen">
            <param name="visualize" value="$(arg visualize)" />
            <param name="save_trajectory" value="$(arg visualize)" />
        </node>
    </group>
</launch>