<launch>
    <param name="model_path" type="string" value="$(find mj_models)/models/mushr/mushr.xml"/>
    <group ns="mushr">
        <node pkg="mujoco_ros" name="mushr_visualize" type="mushr_visualize" output="screen">
            <param name="visualize" value="true" />
        </node>
    </group>
</launch>