<!-- -*- mode: XML -*- -->
<launch>
    <arg name="racecar_version" />
    <arg name="vesc_config" default="$(find vesc_main)/config/$(arg racecar_version)/vesc.yaml" />

    <arg name="car_name" default="car" />

    <rosparam file="$(arg vesc_config)" command="load" />

    <node pkg="nodelet" type="nodelet" name="vesc_nodelet_manager"
        args="manager" output="screen">
        <param name="num_worker_threads" value="4" />
    </node>
    <node pkg="nodelet" type="nodelet" name="ackermann_to_vesc_nodelet"
        args="load vesc_ackermann::AckermannToVescNodelet vesc_nodelet_manager" >
  <!-- </node>     -->
    <!-- <node pkg="vesc_ackermann" type="ackermann_to_vesc_node" name="ackermann_to_vesc"> -->
        <remap from="ackermann_cmd" to="/$(arg car_name)/mux/ackermann_cmd_mux/output" />
        <remap from="commands/motor/speed" to="commands/motor/unsmoothed_speed" />
        <remap from="commands/servo/position" to="commands/servo/unsmoothed_position" />
    </node>

    <node pkg="vesc_driver" type="throttle_interpolator.py" name="throttle_interpolator">
        <param name="car_name" value="$(arg car_name)" />
    </node>
    <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver" respawn="true"/>
    <!-- <node pkg="vesc_ackermann" type="vesc_to_odom_node" name="vesc_to_odom"/> -->
</launch>
