<launch>
    <arg name="visualize_sim" default="true"/>
    <arg name="visualize_output" default="false"/>
    <arg name="publish_ground_truth_pose" default="true"/>
    <!-- <arg name="steering_angle" default="1.0"/> -->
    <!-- <arg name="velocity" default="0.5"/> -->
    <arg name="frequency" default="10"/>
    <arg name="duration" default="10"/>
    <arg name="filename_prefix" default="$(env ML4KP_ROS)/data/mj_mushr/"/>
    <arg name="idx" default="test"/>
    <arg name="random_seed" default="112392"/>
    <arg name="environment" default="$(env DIRTMP_PATH)/resources/input_files/environments/boxes.yaml"/>
    <arg name="random_ctrl" default="true"/>
    <arg name="input_plan_filename" default=""/>

    <group ns="mushr">
        <node pkg="mujoco_ros" name="simulation" type="open_loop_data_collection" output="screen" required="true">
            <param name="model_path" type="string" value="$(find prx_models)/models/mushr/mushr.xml"/>
            <!-- <param name="steering_angle" value="$(arg steering_angle)"/> -->
            <!-- <param name="velocity" value="$(arg velocity)"/> -->
            <param name="frequency" value="$(arg frequency)"/>
            <param name="duration" value="$(arg duration)"/>
            <param name="filename_prefix" value="$(arg filename_prefix)"/>
            <param name="idx" value="$(arg idx)"/>
            <param name="random_seed" value="$(arg random_seed)"/>
            <param name="visualize_sim" value="$(arg visualize_sim)"/>
            <param name="random_ctrl" value="$(arg random_ctrl)"/>
            <param name="input_plan_filename" value="$(arg input_plan_filename)"/>
            <!-- <param name="visualize_sim" value="$(arg visualize_sim)" /> -->
            <!-- <param name="visualize_output" value="$(arg visualize_output)" /> -->
            <!-- <param name="publish_ground_truth_pose" value="$(arg publish_ground_truth_pose)" /> -->
        </node>
    </group>
    <!-- <include unless="$(arg publish_ground_truth_pose)" file="$(find estimation)/launch/mj_estimation.launch" /> -->
    <include file="$(find interface)/launch/mushr_interface.launch">
        <arg name="ground_truth_pose_used" value="$(arg publish_ground_truth_pose)" />
    </include>

    <node pkg="nodelet" type="nodelet" name="mj_nodelet"  args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="EnvironmentPublisher" 
        args="load utils/EnvironmentPublisher mj_nodelet" 
        output="screen">
        <param name="environment_file" value="$(arg environment)" />
        <!-- <param name="publisher_topic" value="/mushr/control" /> -->
        <!-- <param name="frequency" value="100" /> -->
    </node>   

    <node pkg="tf2_ros" type="static_transform_publisher" name="tf_world"
        args="0 0 0 0 0 0 1  marker_50 world" />
    <!-- <include file="$(find control)/launch/mushr_control.launch" /> -->
</launch>

