<launch>
    <arg name = "namespace" default = "mushr"/>
    <param name="model_path" type="string" value="$(find prx_models)/models/mushr/mushr.xml"/>
    <arg name="save_trajectory" default="false"/>
    <arg name="visualize" default="true"/>
    <arg name="publish_ground_truth_pose" default="false"/>
    <include file="$(find interface)/launch/$(arg namespace)_interface.launch"/>
    <group ns="$(arg namespace)">
        <node pkg="mujoco_ros" name="simulation" type="mushr_simulation" output="screen">
            <param name="visualize" value="$(arg visualize)" />
            <param name="save_trajectory" value="$(arg save_trajectory)" />
            <param name="publish_ground_truth_pose" value="$(arg publish_ground_truth_pose)" />
        </node>
    </group>
</launch>

