<launch>
    <param name="model_path" type="string" value="$(find prx_models)/models/mushr/mushr.xml"/>
    <arg name="plan_file" default="data/mushr_plan.txt"/>
    <arg name="delimiter" default=","/>
    <arg name="save_trajectory" default="false"/>
    <group ns="mushr">
        <node pkg="mujoco_ros" name="mushr_visualize" type="mushr_visualize" output="screen">
            <param name="visualize" value="true" />
            <param name="save_trajectory" value="$(arg save_trajectory)" />
        </node>
        <node pkg="mujoco_ros" name="open_loop_publisher" type="mushr_open_loop_publisher.py" output="screen">
            <param name="plan_file" value="$(arg plan_file)" />
            <param name="delimiter" value="$(arg delimiter)" />
        </node>
    </group>
</launch>