<launch>
    <param name="model_path" type="string" value="$(find mj_models)/models/mushr/mushr.xml"/>
    <group ns="mushr">
        <node pkg="mujoco_ros" name="mushr_feedback" type="mushr_feedback" output="screen" >
            <param name="visualize" value="true" />
        </node>
        <node pkg="mujoco_ros" name="keyboard_service" type="keyboard_service.py" output="screen"/>
    </group>
</launch>
