<launch>
    <arg name = "namespace" default = "mushr"/>
    <param name="model_path" type="string" value="$(find prx_models)/models/mushr/mushr.xml"/>
    <arg name="save_trajectory" default="false"/>
    <arg name="visualize" default="true"/>
    <include file="$(find interface)/launch/$(arg namespace)_interface.launch"/>
    <group ns="$(arg namespace)">
        <node pkg="mujoco_ros" name="simulation" type="mushr_simulation" output="screen">
            <param name="visualize" value="$(arg visualize)" />
            <param name="save_trajectory" value="$(arg save_trajectory)" />
        </node>
        <node pkg="nodelet" type="nodelet" name="aruco_detection_nodelet_t" args="standalone perception/aruco_detection_nodelet_t" output="screen">
            <rosparam command="load" file="$(find perception)/config/aruco_detection.yaml" />
    </node>
    </group>
</launch>

