<launch>
    <arg name="namespace" default="ltv" />
    <arg name="planning_cycle_duration" default="1.0" />
    <arg name="Plant" default="ltv_sde" />
    <arg name="propagate_dynamics" default="true" />
    <arg name="retain_previous" default="true" />
    <arg name="max_cycles" default="70" />
    <arg name="preprocess_timeout" default="0.05" />
    <arg name="postprocess_timeout" default="0.05" />
    <arg name="record" default="false" />
    <arg name="id" default="0" />
    <arg name="params_file" default="plants/fg_ltv_sde.yaml" />
    <!-- <arg name="environment" default="environments/simple_obstacle.yaml" /> -->
    <arg name="environment" default="environments/forest.yaml" />
    <arg name="data_dir" default="/Users/htnamus/All_Stuff/Programming_Stuff/ros_workspace/data" />
    <arg name="experiment_id" default="kraft_0" />
    <arg name="visualize" default="true" />
    <arg name="simulation_step" default="0.01" />
    <arg name="collect_data" default="true" />
    <arg name="plant_file" default="$(find motion_planning)/config/$(arg Plant).yaml" />
    <arg name="world_frame" default="world" />
    <arg name="robot_frame" default="robot" />
    <arg name="plan_topic" value="/stela/sbmp/plan" />
    <arg name="reset_topic" default="/stela/reset" />
    <arg name="trajectory_topic" default="/stela/sbmp/trajectory" />
    <arg name="control_topic" default="/stela/sbmp/control" />
    <arg name="state_topic" default="/stela/sbmp/state" />
    <arg name="collision_topic" default="/simulator/collision" />
    <arg name="stop_topic" default="/stela/stop" />          <!-- Signal to stop -->
    <arg name="shutdown_topic" default="/stela/shutdown" />
    <!-- <arg name="tf_noise_sigmas" default="[0.0,0.0,0.0]" /> -->
    <arg name="tf_noise_sigmas" default="[0.005,0.005,0.0]" />
    <!-- <arg name="tf_noise_sigmas" default="[0.02,0.02,0.0]" /> -->
    <!-- <arg name="parameter_values" default="[0,0,0,0,0,0,1,1]" /> -->
    <arg name="parameter_values" default="[0,0,0.0025,0.0025,0,0,1,1]" />
    <!-- <arg name="parameter_values" default="[0,0,0.0100,0.0100,0,0,1,1]" /> -->
    <arg name="num_workers" default="8" />
    <arg name="observation_frequency" default="30" />
    <arg name="control_frequency" default="30" />
    <arg name="tree_ahead_topic" default="/stela/sbmp/ahead_tree" />
    <arg name="estimated_tree_topic" default="/stela/sbmp/estimated_tree" />
    <arg name="stamped_control_topic" default="/stela/sbmp/control_stamped" />
    <group ns="$(arg namespace)">
        <node pkg="task_planning" name="replanner"
            type="$(arg namespace)_replanning_dirt" output="screen">
            <param name="planning_cycle_duration" value="$(arg planning_cycle_duration)" />
            <param name="preprocess_timeout" value="$(arg preprocess_timeout)" />
            <param name="postprocess_timeout" value="$(arg postprocess_timeout)" />
            <param name="max_cycles" value="$(arg max_cycles)" />
            <param name="params_file" value="$(arg params_file)" />
            <param name="propagate_dynamics" value="$(arg propagate_dynamics)" />
            <param name="retain_previous" value="$(arg retain_previous)" />
            <param name="id" value="$(arg id)" />
            <param name="environment" value="$(arg environment)" />
            <param name="world_frame" value="$(arg world_frame)" />
            <param name="robot_frame" value="$(arg robot_frame)" />
            <param name="observation_frequency" value="$(arg observation_frequency)" />
            <param name="control_frequency" value="$(arg control_frequency)" />
            <param name="stamped_control_topic" value="$(arg stamped_control_topic)" />
            <param name="trajectory_topic" value="$(arg trajectory_topic)" />
            <param name="collision_topic" value="$(arg collision_topic)" />
            <param name="data_dir" value="$(arg data_dir)" />
            <param name="experiment_id" value="$(arg experiment_id)" />
            <param name="shutdown_topic" value="$(arg shutdown_topic)" />
        </node>
        <node if="$(arg record)" pkg="rosbag" name="rosbag_record" type="record"
            args="-O $(find task_planning)/data/$(arg namespace).bag 
        /mushr/control /mushr/plan_stepper/control /mushr/ml4kp_plan 
        /mushr/ml4kp_traj /mushr/pose /mushr/aruco_cTw/robot_pose" />
    </group>

    <group ns="simulator">

        <include
            if="$(eval arg('Plant') == 'ltv_sde' or arg('Plant') == 'mushr' or arg('Plant') == 'quadrotor')"
            file="$(find analytical)/launch/simulator.launch">
            <arg name="ns" value="stela" />
            <arg name="plant_file" value="$(arg plant_file)" />
            <arg name="environment" value="$(arg environment)" />
            <arg name="plan_topic" value="$(arg plan_topic)" />
            <arg name="control_topic" default="$(arg control_topic)" />
            <arg name="simulation_step" value="$(arg simulation_step)" />
            <arg name="sim_clock" default="false" />
            <arg name="collision_topic" value="$(arg collision_topic)" />
            <arg name="state_topic" value="$(arg state_topic)" />
            <arg name="tf_noise_sigmas" value="$(arg tf_noise_sigmas)" />
            <arg name="parameter_values" value="$(arg parameter_values)" />
            <arg name="shutdown_topic" default="$(arg shutdown_topic)" />
            <arg name="num_workers" default="$(arg num_workers)" />
            <arg name="observation_frequency" default="$(arg observation_frequency)" />
        </include>

        <node pkg="tf2_ros" type="static_transform_publisher" name="tf_world"
            args="0 0 0 0 0 0 1 world map" />
    </group>

    <group ns="utils">
        <node pkg="nodelet" type="nodelet" name="to_file_nodelet_manager" args="manager"
            output="screen">
            <param name="num_worker_threads" value="$(arg num_workers)" />
        </node>

        <node pkg="nodelet" type="nodelet" name="viz_nodelet_manager" args="manager"
            output="screen">
            <param name="num_worker_threads" value="$(arg num_workers)" />
        </node>

        <node pkg="nodelet" type="nodelet" name="plan_from_file_t" output="screen"
            args="load ml4kp_bridge/plan_from_file_t to_file_nodelet_manager">
            <param name="control_dimension" value="2" />
            <param name="control_topology" value="EE" />
            <param name="publisher_topic" value="$(arg plan_topic)" />
        </node>

        <node
            pkg="nodelet" type="nodelet" name="BoolSinker" output="screen"
            args="load utils/BoolSinker to_file_nodelet_manager">
            <param name="out_topic" value="$(arg shutdown_topic)" />
            <param name="in_topics" type="yaml"
                value="[$(arg collision_topic), $(arg stop_topic), /stela/finished]" />
        </node>

        <node if="$(arg collect_data)"
            pkg="utils" type="tf_to_file" name="tf_to_file" output="screen">
            <param name="directory" value="$(arg data_dir)" />
            <param name="fileprefix" value="tf_$(arg experiment_id)" />
            <rosparam command="load" file="$(find utils)/config/frames.yaml" />
            <!-- <param name="transforms" value="$(find utils)/config/frames.yaml"/> -->
            <param name="reset_topic" value="$(arg reset_topic)" />
            <param name="window_duration" value="0" />
            <param name="stop_topic" value="$(arg shutdown_topic)" />
        </node>

        <node pkg="nodelet" type="nodelet" name="TrajectoryVizPublisher"
            args="load utils/TrajectoryVizPublisher viz_nodelet_manager" output="screen">
            <param name="traj_topic_name" value="$(arg trajectory_topic)" />
            <param name="color" type="yaml" value="[1.0, 1.0, 1.0, 0.0]" />
        </node>


        <node if="$(arg collect_data)"
            pkg="nodelet" type="nodelet" name="TrajectoryToFile" output="screen"
            args="load utils/TrajectoryToFile to_file_nodelet_manager">
            <param name="directory" value="$(arg data_dir)" />
            <param name="fileprefix" value="desired_trajectories_$(arg experiment_id)" />
            <param name="topic_name" value="$(arg trajectory_topic)" />
            <param name="reset_topic" value="$(arg reset_topic)" />
            <param name="shutdown_topic" value="$(arg shutdown_topic)" />
        </node>

        <node if="$(arg collect_data)"
            pkg="nodelet" type="nodelet" name="PlanStampedToFile" output="screen"
            args="load utils/PlanStampedToFile to_file_nodelet_manager">
            <param name="directory" value="$(arg data_dir)" />
            <param name="fileprefix" value="desired_plan_$(arg experiment_id)" />
            <param name="topic_name" value="$(arg plan_topic)" />
            <param name="reset_topic" value="$(arg reset_topic)" />
            <param name="shutdown_topic" value="$(arg shutdown_topic)" />
        </node>

        <node if="$(arg collect_data)"
            pkg="nodelet" type="nodelet" name="ControlToFile" output="screen"
            args="load utils/StateStampedToFile to_file_nodelet_manager">
            <param name="directory" value="$(arg data_dir)" />
            <param name="fileprefix" value="executed_control_$(arg experiment_id)" />
            <param name="topic_name" value="$(arg control_topic)_stamped" />
            <param name="reset_topic" value="$(arg reset_topic)" />
            <param name="shutdown_topic" value="$(arg shutdown_topic)" />
        </node>


        <node if="$(arg collect_data)"
            pkg="nodelet" type="nodelet" name="CollisionToFile" output="screen"
            args="standalone utils/CollisionToFile collision_nodelet_manager">
            <param name="directory" value="$(arg data_dir)" />
            <param name="fileprefix" value="collision_$(arg experiment_id)" />
            <param name="topic_name" value="$(arg collision_topic)" />
            <param name="reset_topic" value="$(arg reset_topic)" />
            <param name="shutdown_topic" value="$(arg shutdown_topic)" />
        </node>

    </group>

    <group ns="viz">
        <node pkg="nodelet" type="nodelet" name="viz_nodelet_manager" args="manager" output="screen">
            <param name="num_worker_threads" value="$(arg num_workers)" />
        </node>

        <!-- <node if="$(arg visualize)"
            pkg="nodelet" type="nodelet" name="MotionPlanningTreeVizPublisher"
            args="load motion_planning/MotionPlanningTreeVizPublisher viz_nodelet_manager"
            output="screen">
            <param name="tree_topic_name" value="/stela/sbmp/tree" />
            <param name="color" type="yaml" value="[1.0, 1.0, 0.0, 0.0]" />
        </node> -->

        <node if="$(arg visualize)"
            pkg="nodelet" type="nodelet" name="EnvironmentPublisher"
            args="load utils/EnvironmentPublisher viz_nodelet_manager" output="screen">
            <param name="color" type="yaml" value="[1.0, 1.0, 0.0, 0.0]" />
            <param name="environment_file" value="$(arg environment)" />
        </node>


    </group>


</launch>