<launch> 
    <arg name = "traj_file" default = "ml4kp_traj.txt"/>  
    <arg name = "plan_file" default = "ml4kp_plan.txt"/>
    <arg name = "out_html"  default = "ROS_output.html"/>
    <arg name = "namespace" default = "mushr"/>
    <!-- <arg name = "random_seed" default = "0"/> -->
    <arg name = "goal_config" default = "[3.0, 3.0, 0.0]"/>
    <arg name = "planning_cycle_duration" default = "1.0"/>
    <arg name = "visualize" default = "false"/>
  <arg name="state_topic" default="/stela/sbmp/state"/>
  <arg name="trajectory_topic" default="/stela/sbmp/trajectory"/>
  <arg name="reset_topic" default="/stela/reset"/>
  <arg name="random_seed" default="390489"/>
    <group ns="$(arg namespace)">
            <node 
      pkg="task_planning" type="stela_open_loop" name="stela_open_loop" 
       output="screen">
      <param name="total_trajs" value="10"/>
      <param name="state_topic" value="$(arg state_topic)" /> 
      <param name="trajs_service_name" value="/stela/sbmp/tree_to_trajectory"/> 
      <param name="start_state" value="[0,0,0,0]"/> 
      <param name="reset_topic" value="$(arg reset_topic)"/>
      <param name="random_seed" value="$(arg random_seed)"/> 
      <!-- <param name="branch_selection" value="random"/>  -->
      <!-- <param name="max_trajectories" value="10"/> -->
    </node>
    </group>
</launch>