<launch>

	<arg name="simulation" value="true" />

	<node pkg="estimation" type="camera_calibration" name="camera_calibration"
			output="screen">
		<rosparam command="load" file="$(find estimation)/config/camera_calibration.yaml" />
		<rosparam command="load" ns="C0" file="$(find perception)/config/logitech_brio_73B6FC82.yaml" />
	</node>

</launch>
