<launch>



  <arg name="plant_params_filename" default="$(find motion_planning)/config/mushr.yaml"/>

  <node pkg="estimation" type="mushr_kalman" name="mushr_kalman" output="screen">
    <param name="plant_params_filename" value="$(arg plant_params_filename)" />
    <param name="sensor_topic_name" value="/mushr/sensordata"/>
    <param name="control_topic_name" value="/mushr/plan_stepper/control"/>
		<param name="stamped_estimation_topic" value="/mushr/ekf"/>
  </node>   

  <node pkg="nodelet" type="nodelet" name="SpacepointToMarkerPublisher"
      args="standalone perception/SpacepointToMarkerPublisher " output="screen">
    <param name="world_frame" value="world"/>
    <param name="spacepoint_topic_name" value="/mushr/ekf"/>
    <!-- <param name="color" value=""/> -->
  </node>

</launch>