<launch>

  <arg name="curr_namespace" default="desktop07" />
  <arg name="camera_config" default="$(find perception)/config/logitech_brio_desktop07.yaml"/>
  <arg name="world_frame" default="world"/>
  <arg name="robot_frame" default="C0_robot_0"/>
  <arg name="camera_frame" default="C0"/>
  <arg name="main_marker" default="121"/>
  <arg name="plan_topic" default="/mushr/ml4kp_plan"/>
  <arg name="trajectory_topic" default="/mushr/ml4kp_traj"/>
  <arg name="robot_id" default="0"/>
  <arg name="marker_size" default="0.164"/>
  <arg name="markers_topic_name" default="/$(arg curr_namespace)/markers"/>
  <!-- <arg name="rotation_offset" default="[0.0,0.0, -1.57079632679]"/> -->
  <arg name="rotation_offset" default="[0.0,0.0,0.0]"/>
  <arg name="front_corner" default="0"/>
  <arg name="camera_id" default="0"/>

  <arg name="marker_world_translation" default="0 0 0"/>
  <!-- <arg name="marker_world_quat" default="-0.0697458 0.0174099 -0.0012174 0.9974121"/> -->
  <arg name="cameras_quat" default="-0.0114 .0606 .9999 .043"/>
  <arg name="marker_world_quat" default="0 0 0 1"/>
  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_C0C1" 
    args="$(arg marker_world_translation) $(arg marker_world_quat) C0_marker_121 $(arg world_frame)" />
  
  <arg name="qw" value="-0.010487"/>
  <arg name="qx" value="-0.0426535"/>
  <arg name="qy" value=" 0.00401744"/>
  <arg name="qz" value="-0.998322"/>
  <arg name="camPosT" value="3.26582 -0.450795 -0.335727"/>
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="tf_world"  -->
    <!-- args="$(arg camPosT) $(arg qx) $(arg qy) $(arg qz) $(arg qw) C0 C1"/> -->
    <!-- args="3.61664 -0.195665 -0.122378 0.00075298 0.0393321 -0.999886 0.00676578 C0 C1"/> -->
       <!-- -0.0114 .0606 .9999 .043 -->
  <group ns="$(arg curr_namespace)">

    <!-- Manager nodelet -->
    <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>

    <!-- Camera reader -->
    <node pkg="nodelet" type="nodelet" name="physical_camera_nodelet_t" output="screen"
      args="load perception/physical_camera_nodelet_t standalone_nodelet" >
      <rosparam command="load" file="$(arg camera_config)" />
    </node>      

    <!-- Aruco detection -->
    <node pkg="nodelet" type="nodelet" name="aruco_detection_nodelet_t" output="screen"
      args="load perception/aruco_detection_nodelet_t standalone_nodelet" >
      <rosparam command="load" file="$(find perception)/config/aruco_detection.yaml" />
    </node>

    <!-- camera To world -->
    <node pkg="nodelet" type="nodelet" name="aruco_cTw_nodelet_t" output="screen"
      args="load estimation/aruco_cTw_nodelet_t standalone_nodelet">
      <rosparam command="load" file="$(arg camera_config)" />
      <param name="front_corner"        value="$(arg front_corner)" />
      <param name="main_marker"         value="$(arg main_marker)" />
      <param name="marker_size"       value="$(arg marker_size)" />
      <param name="markers_topic_name"  value="$(arg markers_topic_name)" />
      <param name="robot_id"            value="$(arg robot_id)" />
      <param name="camera_id"           value="0"/>
      <rosparam param="rotation_offset" subst_value="True">$(arg rotation_offset)</rosparam>
    </node>  
  
    <!-- world To camera -->
    <node pkg="nodelet" type="nodelet" name="aruco_wTc_nodelet_t" output="screen"
      args="load estimation/aruco_wTc_nodelet_t standalone_nodelet" >
    <!-- <node pkg="estimation" type="nodelets_as_nodes" name="aruco_wTc_nodelet_t"  -->
    <!-- output="screen" launch-prefix="gdb args" > -->
      <rosparam command="load" file="$(arg camera_config)" />
      <param name="image_topic" value="/$(arg curr_namespace)/camera/rgb"/>
      <param name="goal_pose_topic" value="/mushr/goal_pose"/>
      <param name="goal_rad_topic" value="/mushr/goal_radius"/>
      <param name="trajectory_topic" type="yaml" value="$(arg trajectory_topic)"/>
      <param name="camera_frame" value="$(arg camera_frame)"/>
      <param name="world_frame" value="$(arg world_frame)"/>
      <param name="robot_frame" value="$(arg robot_frame)"/>
      <param name="camera_id"           value="0"/>
      <param name="reset_topic"           value="/mushr/aruco_wtc/reset"/>
      <param name="node_name"           value="aruco_wTc"/>
    </node>  

    <node pkg="nodelet" type="nodelet" name="robot_estimation_simple_nodelet_t" output="screen"
      args="load estimation/robot_estimation_simple_nodelet_t standalone_nodelet" >
      <param name="robot_frame_0" value="C0_robot_0"/>
      <param name="robot_frame_1" value="C1_robot_0"/>
    </node> 

    <node pkg="nodelet" type="nodelet" name="AckermannFromSpacePointNodelet" 
            args="load interface/AckermannFromSpacePointNodelet standalone_nodelet" 
            output="screen">
          <param name="publisher_topic" value="/mushr/mux/ackermann_cmd_mux/output" />
          <param name="subscriber_topic" value="/stela/sbmp/control" />
          <param name="frequency" value="100" />
    </node>   
    <node pkg="nodelet" type="nodelet" name="AckermannFromSpacePointStampedNodelet" 
            args="load interface/AckermannFromSpacePointStampedNodelet standalone_nodelet" 
            output="screen">
          <param name="publisher_topic" value="/mushr/mux/ackermann_cmd_mux/output" />
          <param name="subscriber_topic" value="/stela/sbmp/control_stamped" />
          <param name="frequency" value="100" />
    </node>     

    <node pkg="interface" type="mushr_stop" name="mushr_stop" output="screen">
          <param name="stop_topic" value="/stela/finished" />
          <param name="control_topic" value="/mushr/mux/ackermann_cmd_mux/output" />
    </node>  

    <node pkg="utils" type="constant_control" name="constant_control" output="screen">
          <param name="bool_topic" value="/stela/finished" />
          <param name="control_topic" value="/stela/sbmp/control" />
          <param name="fixed_control" type="yaml" value="[0.0,0.0]" />
    </node>     

     <include file="$(find utils)/launch/multicam_world_calib.launch">
    </include>

    <!-- <remap to="/stela/finished" from="/mushr/vesc/commands/reset"/> -->
    <!-- Plant estimator -->
<!--     <node pkg="nodelet" type="nodelet" name="plant_estimator_nodelet_t" output="screen"
      args="load estimation/plant_estimator_nodelet_t standalone_nodelet" >
      <param name="plan_topic" value="$(arg plan_topic)"/>
      <param name="trajectory_topic" value="/mushr/traj/estimated"/>
      <param name="simulation_step" value="0.01"/>
      <param name="observation_dim" value="3"/>
      <param name="world_frame" value="world"/>
      <param name="robot_frame" value="robot_0"/>
    </node>   -->
  </group>
</launch>