<launch>


  <arg name = "validate_replanner_sln" default="false"/>
  
  <!-- <arg name = "plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/> -->
  <arg name = "planning_plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/>
  <!-- <arg name = "planning_plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr_torch.yaml"/> -->
  
  <arg name = "mushr_model" default="analytical" />
  <!-- <arg name = "mushr_model" default="torch" /> -->
  <arg name = "plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/>
  <!-- <arg name = "plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr_torch.yaml"/> -->


  <include file="$(find interface)/launch/stela.launch">
    <arg name="input_tree_topic_name" default="/mushr/sln/tree_dbg"/>
    
    <arg name="mushr_model" value="$(arg mushr_model)" />
    <arg name="params_file" default="$(arg plant_file)"/>
    <!-- <arg name="mushr_model" value="analytical" /> -->
    <!-- <arg name="mushr_model" value="mujoco" /> -->
    <!-- <arg name="params_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/> -->
    <!-- <arg name="params_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr_mujoco.yaml"/> -->
  </include>

  <!-- <include file="$(find task_planning)/launch/fix_plan.launch"/> -->
  
  <include file="$(find task_planning)/launch/kraft.launch">
    <arg name="plant_file" default="$(arg planning_plant_file)"/>
  </include>

</launch>
