<launch>
  


  <!-- TOPICS -->
  <arg name="control_topic" default="/mushr/control"/>
  <arg name="sensor_topic_name" default="/mushr/sensordata"/>
  <arg name="contingency_topic" default="/mushr/contingency"/>

  <!-- SERVICES -->
  <arg name="replanner_service" default="/motion_planning/replan" />

  <!-- PRX PARAMETERS  -->
  <arg name="random_seed" default="112392"/>
  <arg name="cycle_duration" default="1.0" />
  <arg name="estimation_topic" default="/mushr/ekf"/>
  
  <!-- PRX FILES  -->
  <arg name="plant_file" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/mushr.yaml"/>
  <arg name="dirt_spec" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/dirt_replan_spec.yaml"/>
  <arg name="dirt_query" default="$(env ML4KP_ROS)/src/mujoco_ros/motion_planning/config/dirt_replan_query.yaml"/>

  <!-- GLOBAL ROS PARAMETERS -->
  <param name="random_seed" value="$(arg random_seed)"/>
  <param name="simulation_step" value="0.1"/>
  <param name="dirt_spec" textfile="$(arg dirt_spec)"/>
  <param name="dirt_query" textfile="$(arg dirt_query)"/>
  <param name="plant_parameters" textfile="$(arg plant_file)"/>
  <param name="goal" type="yaml" value="[1.0, 5.0, 1.57]"/>

  <include file="$(find motion_planning)/launch/sbmp_open_loop.launch">
    <arg name="cycle_duration"    value="$(arg cycle_duration)"/>
    <arg name="replanner_service" value="$(arg replanner_service)"/>
    <arg name="control_topic" value="$(arg control_topic)"/>
    <arg name="estimation_topic" value="$(arg estimation_topic)"/>
    <arg name="contingency_topic" value="$(arg contingency_topic)"/>

  </include>
  
  <include file="$(find motion_planning)/launch/replanner_dirt.launch">
    <arg name="replanner_service" value="$(arg replanner_service)"/>
  </include>

  <include file="$(find estimation)/launch/mushr_ekf.launch">
    <arg name="control_topic" value="$(arg control_topic)"/>
  </include>

</launch>

