<launch>
    
    <arg name="cycle_duration" default="1.0" />
    

    <node pkg="motion_planning" type="stela_mushr" name="stela_mushr" 
        output="screen" respawn="false"
        >
        <param name="node_id" value="stela"/>
        <param name="mushr_model" value="mushr"/>

        <param name="clock/cycle_duration" value="$(arg cycle_duration)" />
    </node> 

    <node pkg="nodelet" type="nodelet" name="stela_nodelet_aux"  args="manager" output="screen"/>

    <!-- <node pkg="nodelet" type="nodelet" name="MotionPlanningEstTreeVizPublisher"  -->
        <!-- args="load motion_planning/MotionPlanningTreeVizPublisher stela_nodelet_aux"  -->
        <!-- output="screen"> -->
        <!-- <param name="tree_topic_name" value="$(arg estimated_tree_topic)" /> -->
        <!-- <param name="scale" value="0.2" /> -->
        <!-- <param name="color" type="yaml" value="[1.0, 0.78039, 0.36862, 0.50980]" /> -->
    <!-- </node>   -->

    <!-- <node pkg="nodelet" type="nodelet" name="MushrFromSpacePointStampedNodelet"  -->
        <!-- args="load interface/MushrFromSpacePointStampedNodelet stela_nodelet_aux"  -->
        <!-- output="screen"> -->
        <!-- <param name="publisher_topic" value="/mushr/control" /> -->
        <!-- <param name="subscriber_topic" value="/stela/sbmp/control_stamped" /> -->
    <!-- </node>   -->
    

    <!-- <node pkg="nodelet" type="nodelet" name="TreeToPlanNodelet"  -->
        <!-- args="load motion_planning/TreeToPlanNodelet stela_nodelet_aux"  -->
        <!-- output="screen"> -->
        <!-- <param name="tree_topic_name" value="$(arg estimated_tree_topic)" /> -->
    <!-- </node>   -->
    

    <!-- <node pkg="nodelet" type="nodelet" name="TreeToPlanNodeletSlnTree"  -->
        <!-- args="load motion_planning/TreeToPlanNodelet stela_nodelet_aux"  -->
        <!-- output="screen"> -->
        <!-- <param name="tree_topic_name" value="/mushr/sln/tree" /> -->
    <!-- </node>   -->

    <!-- <node pkg="nodelet" type="nodelet" name="SdfToGridPublisher"  -->
        <!-- args="load motion_planning/SdfToGridPublisher stela_nodelet_aux"  -->
        <!-- output="screen"> -->
        <!-- <param name="sdf_params_file" value="$(arg sdf_params_file)" /> -->
        <!-- <param name="grid_topicname" value="/stela/sdf/vis" /> -->
        <!-- <param name="tree_topic_name" value="/mushr/tree" /> -->
        <!-- <param name="tree_topic_name" value="/mushr/sln/tree"/> -->
    <!-- </node>   -->
    

</launch>

